
services:
  db:
    image: postgres:15
    container_name: todo-db
    environment:
      POSTGRES_DB: todo_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    image: harshjswl/todo-backend:latest
    container_name: todo-backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/todo_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres

  frontend:
    image: harshjswl/todo-frontend:latest
    container_name: todo-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  pgdata: